[include mainsail.cfg]

[virtual_sdcard]
path: /var/lib/moonraker/gcodes

[mcu] # Mainboard
canbus_interface: can0
canbus_uuid: 0b8dfb90e39a

[mcu EBBCan] # Toolhead
canbus_interface: can0
canbus_uuid: 69b964d0af4f

[mcu cartographer]
canbus_interface: can0
canbus_uuid: 9f97ca0f694e

[duplicate_pin_override]
pins: EBBCan:gpio24, PF3, EBBCan:gpio22

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

[idle_timeout]
timeout: 3300

[shaketune]
result_folder: /var/lib/moonraker/config/input_shaper

[include hardware/hardware.cfg]
[include macros/*]
