[neopixel toolhead]
pin: EBBCan:gpio16
chain_count: 3
color_order: GRBW

[output_pin caselight]
#Chamber Lighting - HE3 Connector
pin: PA3
pwm:true
shutdown_value: 0
cycle_time: 0.01

[led_effect home_x]
autostart: true
endstops: stepper_x
button_pins: ^EBBCan:gpio24
leds:
  neopixel:toolhead (1)
layers:
  homing 1 0 add (0.0, 0.0, 0.0, 0.0),(0.0, 1.0, 0.0, 0.0)
  flashbutton 0.1 0.5 add  (0.0, 1.0, 0.0, 0.0),(0.0, 0.0, 0.0, 0.0)
