[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.

#--------------------------------------------------------------------
gantry_corners:
	-60,-10
	410,420
#	Probe points
points:
  50,25   # 0
  50,275  # 1
  300,275 # 2
  300,25  # 3

#--------------------------------------------------------------------
speed: 100
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.005
max_adjust: 10
