// Schema from my nightmares
keybinds clear-defaults=true {
    pane {
        bind "h" "Left" "Alt h" "Alt Left" { NewPane "Left"; SwitchToMode "Normal"; }
        bind "j" "Down" "Alt j" "Alt Down"{ NewPane "Down"; SwitchToMode "Normal"; }
        bind "k" "Up" "Alt k" "Alt Up" { NewPane "Up"; SwitchToMode "Normal"; }
        bind "l" "Right" "Alt l" "Alt Right" { NewPane "Right"; SwitchToMode "Normal"; }
    }
    shared_except "normal" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    normal {
        bind "Alt n" { SwitchToMode "Pane"; }
        bind "Alt x" "Alt q" { CloseFocus; }
        bind "Alt h" "Alt Left" { MoveFocus "Left"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt l" "Alt Right" { MoveFocus "Right"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt e" { EditScrollback; }
    }
}
